.link { text-decoration: none; -webkit-transition: all 0.3s; transition: all 0.3s; }

.link:link { color: #136699; }

.link:visited { color: #082a3e; }

.link:hover { color: #2d9fe5; }
.link:hover.textDecorationUnderline { text-decoration: underline; }

.link:active { color: #994613; }
